
svg.chart {
  vertical-align:bottom;
  display:inline-block;
}

svg.chart.pie { 
  aspect: Pie url(micro-chart.js);
  size:16dip;
}

svg.chart.donut { 
  aspect: Donut url(micro-chart.js);
  size:16dip;
}

svg.chart.line { 
  aspect: Line url(micro-chart.js);
  size:32dip 16dip;
}

svg.chart.bar { 
  aspect: Bar url(micro-chart.js);
  size:40dip 16dip;
}
